<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <img src="img/ichip-logo.png" class="navbar-text img-responsive centered" />
    </div>
</nav>



   <div class="panel panel-default">
       <div class="panel-body">
           <div class="member-card centered">
                <div class="card-number">{{CardNumber}}</div>
                <div class="member-name">{{Name}}</div>
           </div>
       </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-default btn-lg  btn-block" ng-click="checkIn()">Check In</button>
        </div>
   </div>
