<div class="vertical-center">
	<header class="logo">
		<img src="img/logo-wide.png" height="42" width="167" alt="iChip" />
	</header>
	
	<form class="set-password-form" ng-submit="passwordSet()">
			
		<p class="text-center">Enter your email address to issue a password reset request.</p>

        <p class="block alert alert-{{messageType}}" ng-show="displayMessage">{{displayMessage}}</p>

        <input type="password" class="inputText" placeholder="New Password" ng-model="setData.password">
		<input type="password" class="inputText" placeholder="Confirm Password" ng-model="setData.confirmPass">

        <div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">
                Set Password
            </button>
        </div>
        <div>
            <a href="#reset" class="sticky-btn">Cancel Reset Password</a>
        </div>
			
		<!--<a href="#login#success" class="form-submit btn">Set Password</a>-->
	</form>
</div>
