@font-face {
    font-family: 'proxima_novabold';
    src: url("../fonts/proximanova-bold-webfont.eot");
    src: url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#proxima_novabold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url("../fonts/proxima_nova_reg-webfont.eot");
    src: url("../fonts/proxima_nova_reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_reg-webfont.woff") format("woff"), url("../fonts/proxima_nova_reg-webfont.ttf") format("truetype"), url("../fonts/proxima_nova_reg-webfont.svg#proxima_nova_rgregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url("../fonts/proxima_nova_sbold-webfont.eot");
    src: url("../fonts/proxima_nova_sbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_sbold-webfont.woff") format("woff"), url("../fonts/proxima_nova_sbold-webfont.ttf") format("truetype"), url("../fonts/proxima_nova_sbold-webfont.svg#proxima_nova_ltsemibold") format("svg");
    font-weight: normal;
    font-style: normal;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "proxima_nova_ltsemibold", Helvetica, Arial,  sans-serif;
    font-size:16px;
    background: #fff;
    padding:15px;
    color: #333;
    background:#ebebeb;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "proxima_novabold", Helvetica, Arial, sans-serif ;
    letter-spacing:-1px;
}
img { border: 0; max-width: 100%; }

input.inputText {
    background:white;
    border: 1px solid #d3d3d3;
    color:#333;
    display: block;
    width:100%;
    padding:10px;
    margin:0 auto .5em;
    font-size: 1.5em;
    line-height: 1.25em;
    text-align: center;
    text-align-last: center;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    box-shadow: none;
    -webkit-appearance:none;
    -moz-appearance: none;
    border-radius: 0;
    /*for samsung galaxy s4 */
    border-top-left-radius: 	0;
    border-top-right-radius: 	0;
    border-bottom-left-radius: 	0;
    border-bottom-right-radius: 0;
    font-family: "proxima_nova_rgregular", Arial,  sans-serif;
}

.inputText::-webkit-input-placeholder {
    text-align: center;
}


input[type=submit], .btn {
    display: block;
    width:100%;
    padding:10px;
    margin:0 auto .5em;
    font-size: 1.5em;
    line-height: 1.25em;
    text-align: center;
    background: #B89C6C;
    color:white;
    border:0;
    text-decoration: none;
}
.logo {
    text-align: center;
    margin:30px auto;
}

.sticky-btn {
    position:fixed;
    bottom:0;
    text-align: center;
    text-decoration: none;
    background:#dbdbdb;
    border:1px solid #d3d3d3;
    color:#727272;
    padding:15px 15px 13px;
    left:15px; right:15px;
    display: block;
}

.cover-all {
    position: fixed;
    top:0; bottom:0;
    right:0; left:0;
    z-index: 1000;
    background: #ebebeb url(../img/logo-stack.png) center center no-repeat;
    background-size: 85px 100px;

}
/* HELPERS */
.error {border:1px solid #d40;}
.hidden {display: none;}
.text-center {	text-align: center;}

.alert, .notice {
    margin:20px -15px;
    color:white;
    padding:15px;
    text-align: center;
}
.alert-error { background: #d40; }
.alert-success { background: #00BD71; }
.notice {
    background:white;
    border: 1px solid #d5d5d5;
    border-width: 1px 0;
    color:#333;
}
.notice h1 {
    margin:.5em 0;
    font-size:1.75em;
}

.vertical-center {
    position: absolute;
    left:50%;
    top: 50%;
    width:100%;
    padding:15px 15px 65px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* ICONS */
.icon {
    display: block;
    height:20px;
    width:20px;
    background:url(../img/sprite.png) 0 0 no-repeat;
    background-size: 155px auto;
    vertical-align: middle;
}
i.icon {display:inline-block;}
.icon-big-check {
    width:60px;
    height: 60px;
    border-radius: 30px;
    /*for samsung galaxy s4 */
    border-top-left-radius: 	30px;
    border-top-right-radius: 	30px;
    border-bottom-left-radius: 	30px;
    border-bottom-right-radius: 30px;
    background-color:#333;
    background-position: -109px 17px;
    margin: 10px auto;
}
.icon-lock {
    margin-top:-4px;
}
.icon-key {
    background-position: -49px 1px;
}

/* ANIMATIONS */
.fade {
    -webkit-transition: opacity .5s ease-in-out, z-index 0 linear .5s;
    -moz-transition: opacity .5s ease-in-out, z-index 0 linear .5s;
    transition: opacity .5s ease-in-out, z-index 0 linear .5s;
}
.fade.out {	opacity: 0; z-index:-1;}
.fade.in { opacity: 1; z-index:10;}

.barn-doors {
    position: absolute;
    top:0;bottom:0;left:0;right: 0;
}
.barn-doors .door {
    position: absolute;
    width:50%;
    top:0;bottom:0;
    -webkit-transition: -webkit-transform 2s ease-in-out 1s, box-shadow .2s linear 1s;
    transition: transform 2s ease-in-out 1s, box-shadow .2s linear 1s;
    background:#ebebeb;
    overflow: hidden;
    box-shadow: 0 0 0 rgba(22,22,22,.4);
}
.door.right{
    right:0;

}
.door.left{
    left:0;

}
.door:after, .barn-doors:before {
    content:'';
    display: block;
    border:6px solid #d3d3d3;
    border-radius: 50%;
    width:150px;
    height: 150px;
    position: absolute;
    top:50%;
    margin: -150px -81px;
    -webkit-transition: border-color .5s linear;
    transition: border-color .5s linear;
}
.barn-doors:before {
    border-color:transparent #333 transparent ;
    z-index: 100;
    left:50%;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
    to { transform: rotate(360deg);}
}
.door.left:after {
    right:0;
}
.barn-doors:after {
    content:''; display:block;
    position: absolute;
    z-index: 100;
    background: #ebebeb url(../img/logo-stack.png) center center no-repeat;
    background-size: 85px 100px;
    width:85px;
    height: 100px;
    top:50%;
    left:50%;
    margin-left: -42.5px;
    margin-top: -120px;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
}
.open:after, .open:before {
    opacity:0;
}
.open .door:after {
    border-color:#333;
}

.open .door {
    box-shadow: 0 0 8px rgba(22,22,22,1);
}
.open .door.left {
    -webkit-transform: translate3d(-102%, 0, 0);
    transform: translate3d(-102%, 0, 0);
}
.open .door.right {
    -webkit-transform: translate3d(102%, 0, 0);
    transform: translate3d(102%, 0, 0);
}
